{% extends 'main.html' %}


{% block title %} Password recovery {% endblock %}


{% block main %}



<section id="content">

<div class="container">

        <div class="row">

            <div class="col-sm-4 col-sm-push-4 centerBlock">

                <div class="contTitle">Password recovery</div>

                <div class="prodWrapper">

                    <form action="" method="post">

                        <div class="form-group">

                            <label for="email">Email:</label>

                            <input class="form-control" type="text" name="username" required="">

                        </div>

                   

                        <div class="fmTop15">

                            <button type="submit" class="button">Next step</button>

                        </div>

                    </form>
<br/>
                    <a  href="/login">Back to login</a>



                </div>

                <div class="col-sm-12 message-div">

                    
                </div>

            </div>

        </div>

    </div>




	</section>


	
{% endblock %}
