body {
font-size:16px;
margin:0 !important;
padding:0 !important;
}

.header {
	padding: 12px 10px;
    display: flex;
    gap: 15px;
    background-color: rgb(74, 133, 165);
}

.header > div a {
color: #fff !important;
}


a {
text-decoration: none;
}



.link, .link:hover {
    color: #33658E;
}


.cflex1 {
	display:flex;
	widtH:100%;
	flex-wrap:nowrap;
	gap:20px;
}

.justify_cend {
    justify-content: end;
    justify-content: flex-end;
}



.button {
	outline: none  !important;
    border: 0 !important;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    padding: 8px 10px;
    color: #FFF;
    background-color: rgb(74, 133, 165);
}


.centerization {
    align-items: center;
}






.footer {
    height: 69px;
    align-items: center;
    /* padding: 18px 10px;*/
    display: flex;
    gap: 15px;
    background-color: rgb(74, 133, 165);;
}

.footer > div a {
	color: #fff !important;
}


.kl_1z {
	align-items: center;
	display:flex;
	gap:25px;
}





.zq_kl1z > i {
		color:#fff;
	    font-size: 26px;
}


.zq_kl1z {
	align-items: center;
	display:flex;
	gap: 10px;
	padding: 10px;
}

.kl_1z > .zq_kl1z:hover {
    height: 69px;
    background: #c0b8b8;
} 



#content {
    background: #F0F0F0;
    padding-bottom: 40px;
    min-height: 500px;
}


.centerBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.contTitle {
    margin-top: 24px;
    font-size: 20px;
    color: #33658E;
    padding-bottom: 15px;
    text-align: center;
}


.fmTop15 {
margin-top:15px;
}

.fmTop35 {
margin-top:35px;
}



.form-group {
margin-bottom:15px;
}


.hdq12_1 {
width:100%;
height: 257px;
object-fit: cover;
}



.KHeaderTlImg2 {
    background: url(/static/apartment/image-78-copyright.webp);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.55);
}


.childOFRelatives {
	position: absolute;
    height: 100%;
    opacity: 0.5;
    background: black;
    width: 100%;
}


.knmaninhedq123q {
    color: #fff;
    font-size: 25px;
    z-index: 999999;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.fnt16 {
font-size: 16px;
}
