
{% extends 'main.html' %}


{% block title %} Blogposts {% endblock %}


{% block main %}

<div class="KHeaderTlImg2"> 
	
	<div class="childOFRelatives"></div>
	<div class="knmaninhedq123q">
		<h3>Our Blogs</h3>
		<p class="fnt16">Post, Read, Rate and see posts from the every user!</p>
	</div>
</div>

<div class="container">

	<div class="col-12">
		
		
			<div class="Form1 mm_Frm_top20">
				
				<div class="row" id="forms">
					
					
					<div class="col-3">
						<label>Number of rooms</label>
						<input type="text" placeholder=""/>
						</div>		
				
				
				
					
					
					<div class="col-3">
					
						<label>Location</label>
					
						<input type="text" placeholder="Searching by country or location"/>
					
					
					</div>	
					
				
				
				
					
					<div class="col-3">
						<label>Price from</label>
						<input type="text" placeholder=""/>
					</div>		
				
				
				<div class="col-3">
					<label>Price to</label>
					<input type="text" placeholder=""/>
				</div>		
				
				
			
				
				
				
				
				
				
				
					
					
					
				</div>
				
				
			
			<div class="row" id="forms" style="margin-top:15px;">
				
				
						
				
				<div class="col-3">
					<label>Price to</label>
					<input type="text" placeholder=""/>
				</div>		
				
				
				
						
				
				<div class="col-3">
					<label>Price to</label>
					<input type="text" placeholder=""/>
				</div>		
				
				
				
						
				
				<div class="col-3">
					<label>Price to</label>
					<input type="text" placeholder=""/>
				</div>		
				
				
				<div class="col-3">
				<label>s qwe </label>
				<button class="button btn2_new">Search</button>
				
					</div>		
				
				
			</div>	
				
				
				
				

				
				
				
				
			</div>
		
		
		
			
		<!-- -->
		
		<div style="margin-top:30px;">
			<h5>VIP Advertisements</h5>
		</div>
		
		<div class="row">
		
		
		{% for x in Data %}
		
			<div class="col-3">
				<div><img class="img" src="{{x.pic}}"/></div>
				<div>{{x.name}}</div>
			</div>
		
		{% endfor %}
			
			
		
		</div>		
				
		<!-- -->		
					
		
			<!-- -->
		
		<div style="margin-top:30px;">
			<h5>Newly posted</h5>
		</div>
		
		<div class="row">
		
		
		{% for xz in Ford %}
		
			<div class="col-3">
				<div><img class="img" src="{{xz.pic}}"/></div>
				<div>{{xz.name}}</div>
			</div>
		
		{% endfor %}
			
			
		
		</div>		
				
		<!-- -->		
		
		
		
	</div>



</div>
	
<!--
	<script>

	var qqq = document.querySelector("#content")

	qqq.innerHTML = "yeah"

	</script>	
-->


{% endblock %}





