
{% extends 'main.html' %}


{% block title %} Blogposts {% endblock %}


{% block main %}

<div class="KHeaderTlImg2"> 
	
	<div class="childOFRelatives"></div>
	<div class="knmaninhedq123q">
		<h3>Our Blogs</h3>
		<p class="fnt16">Post, Read, Rate and see posts from the every user!</p>
	</div>
</div>

<div class="container">

	<div class="col-12">
		qweqeqwe
</div>

</div>
	
<!--
	<script>

	var qqq = document.querySelector("#content")

	qqq.innerHTML = "yeah"

	</script>	
-->


{% endblock %}





