{% extends 'main.html' %}


{% block title %} Main page {% endblock %}


{% block main %}

	
<div class="container" style="    padding: 10px;">
<div class="row centerization">

	<div class="col-5">
		
		<div class="cflex1">
			<div><i class="fa-regular fa-envelope"></i> <a href="" class="link">admin@domain.ge</a></div>
			<div><i class="fa-solid fa-phone"></i> <a href="" class="link">+995 000 010 000</a></div>
		</div>
		
	</div>
	
	

	<div class="col-7">
		<div class="cflex1 justify_cend">
			<button class="button">Login</button>
			<button class="button">Sign up</button>
		</div>
	</div>

</div>
</div>	
	
	
<div class="header">
	<div><a href="">Home</a></div>
	<div><a href="">About us</a></div>
	<div><a href="">Services</a></div>
	<div><a href="">Partners</a></div>
	<div><a href="">Contact us</a></div>
</div>



	
<!--
	<script>

	var qqq = document.querySelector("#content")

	qqq.innerHTML = "yeah"

	</script>	
-->


{% endblock %}


