{% extends 'main.html' %}


{% block title %} Authorization {% endblock %}


{% block main %}

	
<div class="container" style="    padding: 10px;">
<div class="row centerization">

	<div class="col-5">
		
		<div class="cflex1">
			<div><i class="fa-regular fa-envelope"></i> <a href="" class="link">admin@domain.ge</a></div>
			<div><i class="fa-solid fa-phone"></i> <a href="" class="link">+995 000 010 000</a></div>
		</div>
		
	</div>
	
	

	<div class="col-7">
		<div class="cflex1 justify_cend">
			<button class="button">Login</button>
			<button class="button">Sign up</button>
		</div>
	</div>

</div>
</div>	





	
	
<div class="header">
	<div><a href="">Home</a></div>
	<div><a href="">About us</a></div>
	<div><a href="">Services</a></div>
	<div><a href="">Partners</a></div>
	<div><a href="">Contact us</a></div>
</div>





<section id="content">

<div class="container">

        <div class="row">

            <div class="col-sm-4 col-sm-push-4 centerBlock">

                <div class="contTitle">Login</div>

                <div class="prodWrapper">

                    <form action="" method="post">

                        <div class="form-group">

                            <label for="email">Email:</label>

                            <input class="form-control" type="text" name="username" required="">

                        </div>

                        <div class="form-group">

                            <label for="pwd">Password:</label>

                            <input class="form-control" type="password" name="password" required="">

                        </div>

                        <div class="fmTop15">

                            <button type="submit" class="button">Sign in</button>

                        </div>

                    </form>
<br/>
                    <a  href="#">Password recovery</a>



                </div>

                <div class="col-sm-12 message-div">

                    
                </div>

            </div>

        </div>

    </div>




	</section>


{% endblock %}





